@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap{
    width: min(1980px , 96%);
    margin: 0 auto;
}
.prodShadow{
    box-shadow: 0 0 10px #00000050;
}
main{
    height: 100vh;
    background-size: cover;
    background-image:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 43%, rgba(0,212,255,0) 100%) , url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/KSD/note12/new/D97763521_INWLD_RedmiNote12_4G_Jup23_PC_Hero_3000x1200._CB577299461_.jpg") ;
}
a{
    text-decoration: none;
}